* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    background-color: #000;
    overflow-y: hidden;
}

.container {
    width: 950px;
    margin: 0 auto;
}